@charset 'utf-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

:root {
  font-size: 62.5%; /* 10px */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

html,
body {
  overflow-x: hidden;
}

body {
  font: 1.8rem/1.1 sans-serif;
}

.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
