@charset 'urf-8';

.wrap {
  width: 100%;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 175.2rem;

  overflow: hidden;
}

#header {
  width: 100%;

  min-width: 1752px;
  height: 10rem;
  position: absolute;
  z-index: 100;
}

#header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;

  z-index: 100;
}

.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 100%;
  min-height: 100px;
  z-index: 99;
}

.gnb h1 a {
  display: block;
  width: 20rem;
  height: 4.4rem;
  background: url(../Img/logo.png) no-repeat 0 0 / contain;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20rem;
  height: 10rem;

  color: #fff;
  font-family: "Pretendard";
  font-weight: 700;
  font-size: 2.1rem;
  letter-spacing: 0.03em;
}

.menu li a {
  display: inline-block;
  padding: 0 2.16em;
}

.menu-util {
  display: inline-flex;
  color: #fff;
  align-items: center;
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 1.9rem;
}

.menu-util .btn-search {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background: url(../Img/icon-search.png) no-repeat 0 0 / contain;
}

.menu-util p a {
  padding: 1rem 1.6rem;
}

.main {
  margin: 0 auto;
}

.main-banner-container {
  position: relative;
  overflow: hidden;
}

.main-banner-item {
  display: block;
  /*   background: #ff5; */
  width: 100%;
  height: 83.2rem;
}

.img-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-banner-text {
  max-width: 175.2rem;
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.main-banner-text p {
  font-family: "Pretendard";
  font-weight: 300;
  font-size: 6.8rem;
  color: #fff;
  margin-top: 2rem;
}

.main-banner-text .title {
  background: linear-gradient(92.93deg, #0086ff 7.96%, #61d2e8 100.45%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 800;
}

.banner-swiper-box {
  display: flex;
  position: absolute;

  bottom: 20%;
  left: 14%;
  transform: translate(-50%, -50%);

  z-index: 101;
}

.button-box {
  display: flex;
}

.banner-button-prev,
.banner-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;

  background: #fff no-repeat center;
  cursor: pointer;
}

.banner-button-prev {
  background-image: url(../Img/icon-arrow-prev.png);
}

.banner-button-next {
  background-image: url(../Img/icon-arrow-next.png);
  margin-left: 0.4rem;
}

.banner-swiper-wrap {
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.8rem;
  margin-left: 0.4rem;
  height: 4rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);

  border-radius: 2rem;
}

.banner-swiper-wrap span {
  font-family: "Pretendard";
  font-weight: 700;

  font-size: 1.8rem;
  margin-left: 0.2rem;
}

.banner-swiper-wrap .fence {
  font-size: 1.6rem;
}

.banner-swiper-wrap .toggle-slide-button {
  cursor: pointer;
  margin-left: 1.4rem;
  background: no-repeat 0 0 / contain;
}

.banner-swiper-wrap .toggle-slide-button span {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;

  background-image: url(../Img/play-button.png);
}

.scroll-down-box {
  position: absolute;
  bottom: 10%;
  right: 5%;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.scroll-down-box p {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  writing-mode: vertical-rl;
  margin-bottom: 1.2rem;
}

.scroll-down-box img {
  width: 1rem;
  height: 0.8rem;
}

.main-search-container {
  margin-top: 12rem;
}

.section-title {
  font-family: "Pretendard";
  font-weight: 800;
  font-size: 4.4rem;
  color: #000;

  line-height: 1.36;

  text-align: center;
}

.main-inquiry-fund-con {
}

.main-theme {
  display: flex;
  flex-direction: column-reverse;
}

.go-fund-map {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-more {
  width: 4.8rem;
  height: 4.8rem;
  background: url(../Img/go-fund-map-icon1.png) no-repeat 50% / cover;

  border-radius: 50%;
}

/* 그리드 사용 (반응형 디자인시 적합하다함. */
.main-theme-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;

  margin-top: 3.6rem;
}

.main-theme-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.4rem;
  border: 1px solid #dadada;
  border-radius: 4rem;
}

.main-theme-list li a > img {
  width: 12rem;
}

.main-theme-list li a > p {
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 2.8rem;
  margin-top: 2.8rem;
}

.main-search-fund {
  margin-top: 6rem;
}
.main-btn-search-con {
  display: flex;
  align-items: center;

  padding: 0 8rem 0 6.4rem;

  width: 100%;
  height: 10rem;

  font-family: "Pretendard";
  font-weight: 500;
  font-size: 3rem;
  color: #1a61c7;

  background: #f1f6fb no-repeat;
  background-image: url(../Img/search-icon.png);

  background-position: calc(100% - 1rem) 50%;
  border-radius: 10rem;
  border: 4px solid #1a61c7;
}

.main-keyword-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.4rem;
}

.main-btn-keyword {
  font-weight: 500;
  font-size: 2.8rem;
  font-family: "Pretendard";
  color: #666;

  padding: 1.6rem;
  background: none;
}

#representativeFund {
  margin-top: 16.8rem;
  background: #f1f6fb;
}

.main-con {
  width: 94.5%;
  margin: 0 auto;
  max-width: 1752px;

  padding: 12rem 0 14.8rem 0;
}

.representative-fund-swiper {
  margin-top: 8.2rem;
}
.swiper-wrap {
  display: flex;
}
.swiper-slide {
  width: 42rem;
  /*   background: #ff5; */
  margin-right: 2.4rem;
}

.swiper-slide a {
  display: block;
  width: 100%;
  border: 1px solid #dadada;
  border-radius: 4rem;
  overflow: hidden;
}
.swiper-slide a > .img-box2 {
  width: 100%;
  height: 31.6rem;
  position: relative;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide a .badge {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 4rem;
  width: 10.6rem;
  height: 2.8rem;
  background: #ea5100;
  color: #f1f6fb;
  font-weight: 500;
  font-size: 1.8rem;

  font-family: "Pretendard";
}

.content-box {
  width: 100%;
  height: 27.2rem;

  padding: 4.4rem 4.2rem 5.6rem 4.2rem;
  background: #fff;
}
.semi-ellipsis {
  font-family: "Pretendard";
  font-weight: 600;
  font-size: 3.2rem;
  color: #000;

  line-height: 1.375;
}

.med-ellipsis {
  margin-top: 2rem;
  font-family: "Pretendard";
  font-weight: 500;
  font-size: 2.4rem;

  line-height: 1.33;
}

.swiper-custom-pagination-box {
  margin-top: 4.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-button-prev,
.custom-button-next {
  width: 6.8rem;
  height: 6.8rem;
  background: no-repeat 0 0 / contain;
}

.custom-button-prev {
  background-image: url(../Img/icon-prev-black.png);
  margin-right: 1.8rem;
}
.custom-button-next {
  background-image: url(../Img/icon-next-black.png);
  margin-left: 1.8rem;
}

.toggle-auto-button {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../Img/play-button-black.png) no-repeat 0 0 / contain;
  margin-left: 2rem;
}

.custom-swiper-pagination {
  display: flex;
  width: auto;
  align-items: center;
  gap: 0.8rem;
}

.swiper-pagination-bullet {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: #999;
  border-radius: 100%;

  opacity: 1;
}

.swiper-pagination-bullet.active {
  width: 4.4rem;
  background: #000;
}

.date-wrap {
  font-weight: 500;
  font-size: 2.8rem;
  font-family: "Pretendard";
  color: #666;
}

.btn-date {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 5rem;
}

.btn-date li button {
  background: #fff;
  border-radius: 10rem;
  padding: 0.7rem 3rem;

  cursor: pointer;
}

.btn-date li.active button {
  font-weight: 600;
  font-size: 2.8rem;

  color: #1a61c7;
  background: #deefff;
}

.fund-button-wrap {
  margin-top: 3.6rem;
  display: flex;
  justify-content: flex-end; /* jcfe */
  gap: 0.4rem;
}

.prev-button,
.next-button {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 2.4rem;
  border: 1px solid #dadada;
}

.fund-button-wrap button img {
  width: 100%;
  height: 100%;
}

.swiper-top5 {
  margin-top: 3.6rem;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide-fund {
  display: flex;
  flex-direction: column;
  width: 56rem;
  margin-right: 2.4rem;
  border: 1px solid #dadada;
  border-radius: 4rem;
  background: #fff;
  padding: 3.9rem 5rem 3.4rem 5rem;

  transition: 0.4s;
}

.swiper-slide-fund:hover {
  border: 1px solid #1a61c7;
  box-shadow: 0px 0px 0.8rem 0.2rem #3c80e11f;
  transform: scale(1.02);
  cursor: pointer;
}

.swiper-slide-fund .subtitle1 {
  font-weight: 900;
  font-size: 4rem;
  font-family: "Pretendard";
  color: #000;
}

.swiper-slide-fund .subtitle2 {
  margin-top: 2.8rem;
  font-family: "Pretendard";
  font-size: 3.2rem;
  font-weight: 600;
  color: #000;
  line-height: 1.375;

  display: -webkit-box;
  word-break: keep-all;
}

.fund-item-wrapper {
  margin-top: 5.6rem;
}

.fund-item-wrapper .fund-title {
  font-weight: 500;
  font-size: 2.4rem;
  font-family: "Pretendard";
  color: #666666;
}

.fund-item-wrapper img {
  width: 100%;
  height: 100%;
}

.fund-item-wrapper .Fund-img {
  display: block;
  width: 46rem;
  height: 23rem;
  margin-top: 1.8rem;
}

.fund-item-rate-wrapper {
  margin-top: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fund-item-rate-wrapper .rate-title {
  font-weight: 500;
  font-size: 2.4rem;
  color: #666666;
  font-family: "Pretendard";
}

.fund-item-rate-wrapper .rate-title2 {
  font-weight: 700;
  font-size: 5.2rem;
  color: #ea5100;
  font-family: "Pretendard";
}
